.movingDot{
    display:none;
    position: fixed;
    height: 3px;
    width: 3px;
    background-color: white;
    border-radius: 50%;
    z-index: 0;
}

/*--------------------------- dot1 --------------------------------------------*/ 

@keyframes dotMovement1{
    from{margin-top: 30%;margin-left: -10%;}
    to{margin-top: 50%;margin-left: 120%;}

}

#dot1{
    animation: dotMovement1 8s infinite;
}

/*--------------------------- dot2 --------------------------------------------*/ 

@keyframes dotMovement2{
    from{margin-top: 90%;margin-left: 110%;}
    to{margin-top: -10%;margin-left: -10%;}
    
}

#dot2{
    animation: dotMovemen2 30s infinite;
}

/*--------------------------- dot3 --------------------------------------------*/ 

@keyframes dotMovement3{
    from{margin-top: -10%;margin-left: 70%;}
    to{margin-top: 120%;margin-left: 40%;}
    
}

#dot3{
    animation: dotMovemen3 10s infinite;
}

/*--------------------------- dot4 --------------------------------------------*/ 

@keyframes dotMovement4{
    from{margin-top: 10%;margin-left: -10%;}
    to{margin-top: 10%;margin-left: 125%;}
    
}

#dot4{
    animation: dotMovemen4 20s infinite;
}

/*--------------------------- dot5 --------------------------------------------*/ 

@keyframes dotMovement5{
    from{margin-top: 50%;margin-left: -130%;}
    to{margin-top: 10%;margin-left: -10%;}
    
}

#dot5{
    animation: dotMovemen5 10s infinite;
}

/*--------------------------- dot6 --------------------------------------------*/ 

@keyframes dotMovement6{
    from{margin-top: 35%;margin-left: 110%;}
    to{margin-top: 120%;margin-left: 30%;}
    
}

#dot6{
    animation: dotMovemen6 15s infinite;
}

/*--------------------------- dot7 --------------------------------------------*/ 

@keyframes dotMovement7{
    from{margin-top: 25%;margin-left: -10%;}
    to{margin-top: 10%;margin-left: 100%;}
    
}

#dot7{
    animation: dotMovemen7 15s infinite;
}

/*--------------------------- dot8 --------------------------------------------*/ 

@keyframes dotMovement8{
    from{margin-top: 120%;margin-left: 90%;}
    to{margin-top: -20%;margin-left: 30%;}
    
}

#dot8{
    animation: dotMovemen8 10s infinite;
}

/*--------------------------- dot9 --------------------------------------------*/ 

@keyframes dotMovement9{
    from{margin-top: 150%;margin-left: 10%;}
    to{margin-top: -10%;margin-left: 70%;}
    
}

#dot9{
    animation: dotMovemen9 10s infinite;
}

/*--------------------------- dot10 --------------------------------------------*/ 

@keyframes dotMovement10{
    from{margin-top: -20%;margin-left: 40%;}
    to{margin-top: 110%;margin-left: 70%;}
    
}

#dot10{
    animation: dotMovemen10 15s infinite;
}

/*--------------------------- dot11 --------------------------------------------*/ 

@keyframes dotMovement11{
    from{margin-top: 67%;margin-left: -10%;}
    to{margin-top: 10%;margin-left: 100%;}
    
}

#dot11{
    animation: dotMovemen11 10s infinite;
}

/*--------------------------- dot12 --------------------------------------------*/ 

@keyframes dotMovement12{
    from{margin-top: 30%;margin-left: -10%;}
    to{margin-top: 70%;margin-left: 130%;}

}

#dot12{
    animation: dotMovemen12 20s infinite;
}

/*--------------------------- dot13 --------------------------------------------*/ 

@keyframes dotMovement13{
    from{margin-top: -20%;margin-left: 20%;}
    to{margin-top: -120%;margin-left: 50%;}
    
}

#dot13{
    animation: dotMovemen13 20s infinite;
}

/*--------------------------- dot14 --------------------------------------------*/ 

@keyframes dotMovement14{
    from{margin-top: -10%;margin-left: 60%;}
    to{margin-top: 120%;margin-left: 30%;}
    
}

#dot14{
    animation: dotMovemen14 10s infinite;
}

/*--------------------------- dot15 --------------------------------------------*/ 

@keyframes dotMovement15{
    from{margin-top: 80%;margin-left: -10%;}
    to{margin-top: 10%;margin-left: 130%;}
}

#dot15{
    animation: dotMovemen15 20s infinite;
}


@media  only screen and (max-width: 500px){
    .movingDot{
        display: block;
    }
    #dot1{
        animation: dotMovement1 20s infinite;
    }
    #dot2{
        animation: dotMovement2 10s infinite;
    }
    #dot3{
        animation: dotMovement3 20s infinite;
    }
    #dot4{
        animation: dotMovement4 30s infinite;
    }
    #dot5{
        animation: dotMovement5 20s infinite;
    }
    #dot6{
        animation: dotMovement6 20s infinite;
    }
    #dot7{
        animation: dotMovement7 15s infinite;
    }
    #dot8{
        animation: dotMovement8 20s infinite;
    }
    #dot9{
        animation: dotMovement9 20s infinite;
    }
    #dot10{
        animation: dotMovement10 20s infinite;
    }
    #dot11{
        animation: dotMovement11 5s infinite;
    }
    #dot12{
        animation: dotMovement12 20s infinite;
    }
    #dot13{
        animation: dotMovement13 20s infinite;
    }
    #dot14{
        animation: dotMovement14 18s infinite;
    }
    #dot15{
        animation: dotMovement15 20s infinite;
    }

    #container{
        position: relative;
        z-index: 1;
        background: rgb(0, 0, 0);
        color:white;
      }

  .homePage{
    position: relative;
    z-index: 10;
    background: rgba(255, 255, 255, 0);
  }

  #aboutPage{
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
  }

  #blogsPage{
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
  }

  #projectPage{
    position: relative;
    z-index: 1;
    background: rgba(255, 255, 255, 0);
  }

 

}
