body {
    margin: 0;
    width:100%;
    padding: 0;
    background: #262626;
  }

  /*------------------------------------ Navigation bar CSS ------------------------------------*/ 

  .navigationBar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 999;
    background: #262626;
  }

  .navigators a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    margin: 1px;
    border-radius: 3px;
    box-shadow: 
            #000000 4px 4px 8px,
            #4d4d4d -4px -4px 8px;
    padding: 2px 10px;
  }

  .navigators a:hover{
    box-shadow: 
            inset #000000 4px 4px 8px,
            inset #4d4d4d -4px -4px 8px;
  }

  .navigationMenu{
    display: grid;
    grid-template:1fr/5fr 1fr 1fr 1fr 1fr;
    list-style: none;
  }

  #navbarToggleButton{
    display: none;
  }

  #navbarToggle{
    display: none;
  }

  @media  only screen and (max-width: 800px){

    .navigationMenu{
      display: grid;
      grid-template:1fr/4fr 1fr 1fr 1fr 1fr;
    }

    .navigators a{
      font-weight: normal;
      font-size: 15px;
    }
    
  }

  @media  only screen and (max-width: 600px){
    .navigationBar{
      background-color: rgba(221, 225, 231 ,0);
    }

    .navigationMenu{
      display: block;
      text-align: center;
      margin-left: -200%;
      transition: 0.5s all;
    }

    .navigators{
      font-size: 60px;
      
    }

    .navigators a{
      font-weight: bold;
      font-size: 25px;
      margin-top: 30px;
    }

    #navbarToggle{
      display: block;
    }

    .fa-bars{
      position: fixed;
      right: 20px;
	    top:5px;
      color: white;
      font-size: 25px;
      border: 1px solid rgb(255, 255, 255);
      border-radius: 5px;
      padding: 3px;
    }

    #navbarToggleButton:checked ~ .navigationMenu{
      margin: 0;
      width: 50%;
      background-color: #262626;
      height: 100vh;
    }

    .navigators a{
      background: #262626;
      box-shadow: 
            #000000 4px 4px 8px,
            #4d4d4d -4px -4px 8px;
    }
    
  }

   
  /*------------------------------------ Container's CSS ------------------------------------*/ 

  #container{            
    background-size: 100% 100vh;
  }
  
  .homePage{
    display: grid;
    grid-template:1fr/2fr 4fr 1fr 5fr 2fr;
    justify-items: stretch;
    height: 100vh;
	  padding-bottom:5%;
}

  #aboutPage{
    color: white;
    height: 100vh;
  }

  #blogsPage{
    height: 100vh;
  }

  #projectPage{
    height: 100vh;
  }
  
  /*------------------------------------ Home Page CSS ------------------------------------*/

#profilePic{
  height: 200px;
  width: 200px;
  font-size: 150px;
	border-radius:50%;
	margin-top:15rem;
  color: rgb(255, 255, 255);
}

.introLines{
    font-weight: bold;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
}

.introSide{
    margin-top: 5rem;
    color: rgb(255, 255, 255);
}

#firstLine{
    font-size:25px;
}
#secondLine{
    font-size:50px;
}

@media  only screen and (max-width: 800px){
  #firstLine{
    font-size:15px;
  }
  #secondLine{
    font-size:30px;
  }
  
}

@media  only screen and (max-width: 800px){

.homePage{
  display: grid;
  grid-template-rows:1fr;
  grid-template-columns: repeat(auto-fill,minmax(700px,1fr));
  height: 50%;
  justify-items:center;
  
}

#profilePic{
  height: 150px;
  width: 150px;
  font-size: 100px;
  margin-top:5rem;
}

.introSide{
  margin-top: 0.5rem;
}

}

@media only screen and (max-width: 450px){
  .homePage{
    display: grid;
  grid-template-rows:1fr;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    height: 50%;
}

#profilePic{
  height: 150px;
  width: 150px;
  font-size: 100px;
  margin-top:5rem;
}

.introSide{
  margin-top: 0.5rem;
}

}

.icons a i{
    margin: 3px;
    height:25px;
    width:30px;
    padding-top:6px;
    text-align:center;
    border-radius:50%;
    box-shadow: 
            #000000 4px 4px 8px,
            #4d4d4d -4px -4px 8px;
    font-weight:99;
    transition: 0.5s;
}

.icons a .fa-facebook-f{
    color:rgb(255, 255, 255);
}

.icons a .fa-instagram{
    color: rgb(255, 255, 255);
}

.icons a .fa-linkedin-in{
    color:rgb(255, 255, 255);
}

.icons a .fa-github{
  color:rgb(255, 255, 255);
}


.icons a i:hover{
  box-shadow: 
  inset #000000 4px 4px 8px,
  inset #4d4d4d -4px -4px 8px;
}

.resumeButton{
    margin-top: 2rem;
    font-size: 15px;
    color: white;
    height: 38px;
    width: 88px;
    background: #262626;
    border:none;
    box-shadow: 
            #000000 4px 4px 8px,
            #4d4d4d -4px -4px 8px;
    border-radius: 4px;
    transition: 0.5s;
}

.resumeButton:hover{
  box-shadow: 
  inset #000000 4px 4px 8px,
  inset #4d4d4d -4px -4px 8px;
}

/*-----------------------------------About Page CSS--------------------------------------*/

#aboutMeHeader{
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  padding: 1.5rem;
}

.aboutDesc{
  display: grid;
  grid-template: 1fr/4fr 4fr;
  
}

.leftSection{
  margin-left: 13rem;
  margin-top: 1rem;
}

.rightSection{
  margin-left: 2rem;
}

#aboutPic{
  height: 200px;
  width: 130px;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin-left: 3rem;
  box-shadow: 
            #000000 8px 8px 20px,
            #4d4d4d -8px -8px 20px;
}

#imageHeader{
  margin-left: 1rem;
  font-size: 30px;
  font-weight: bolder;
  font: outline;
}

#imageFooter{
  font-weight: bolder;
}

#skillHeader{
  font-size: 30px;
  font-weight: bolder;
}

#skillFooter{
  position: absolute;
  right: 5%;
  font-size: 20px;
  font-weight: bolder;
}

.skillListing{
  color: black;
  list-style: none;
}

.skills{
  margin-top: 2rem;
}

.skills{
  width: 70%;
  box-shadow: 
            #000000 4px 4px 8px,
            #4d4d4d -4px -4px 8px;
  font-weight: bolder;
  font-size: 20px;
  border-radius: 5px;
}

.skills:hover{
  box-shadow: 
            inset #000000 4px 4px 8px,
            inset #4d4d4d -4px -4px 8px;
}

#JavaScript div{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 10%;
  width: 50%;
  background-color: rgb(87, 87, 87);
  padding-left: 7rem;
}

#Node div{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 10%;
  width: 40%;
  background-color: rgb(87, 87, 87);
  padding-left: 7rem;
}

#React div{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 10%;
  width: 10%;
  background-color: rgb(87, 87, 87);
  padding-left: 7rem;
}

#Python div{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 10%;
  width: 20%;
  background-color: rgb(87, 87, 87);
  padding-left: 7rem;
}

#Java div{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 10%;
  width: 25%;
  background-color: rgb(87, 87, 87);
  padding-left: 7rem;
}

@media  only screen and (max-width: 900px){
  .aboutDesc{
    display: grid;
    grid-template: 1fr 1fr/1fr;
    
  }
}

@media only screen and (max-width: 600px){
  #aboutPage{
    height: 100%;
  }

  .leftSection{
    margin-left: 1rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 450px){

  .leftSection{
    margin-left: 1rem;
    margin-top: 1rem;
  }

  #aboutPic{
    height: 250px;
    width: 150px;
    margin-left: 20%;
  }

  #JavaScript{
    width: 80%;
	height:22px;
    font-size: 15px;
  }
  
  #JavaScript div{
    color: white;
    height: 100%;
    width: 50%;
    padding-left: 3rem;
  }
  
  #Node{
    width: 80%;
	height:22px;
    font-size: 15px;
  }
  
  #Node div{
    color: white;
    height: 100%;
    width: 30%;
    padding-left: 3rem;
  }
  
  #React{
    width: 80%;
	height:22px;
    font-size: 15px;
  }
  
  #React div{
    color: white;
    height: 100%;
    width: 7%;
    padding-left: 3rem;
  }
  
  #Python{
    width: 80%;
	height:22px;
    font-size: 15px;
  }
  
  #Python div{
    color: white;
    height: 100%;
    width: 15%;
    padding-left: 3rem;
  }
  
  #Java{
    width: 80%;
	height:22px;
    font-size: 15px;
  }
  
  #Java div{
    color: white;
    height: 100%;
    width: 18%;
    padding-left: 3rem;
  }

  .rightSection{
    margin-left: 20px;
  }
  

}

/*-----------------------------------Blogs Page CSS--------------------------------------*/
#blogsHeader{
  text-align: center;
  color:white;
  font-size: 25px;
  font-weight: bolder;
  padding: 1.5rem;
}

/*-----------------------------------Project Page CSS--------------------------------------*/
#projectPageHeader{
  text-align: center;
  color:rgb(255, 255, 255);
  font-size: 25px;
  font-weight: bolder;
  padding: 1.5rem;
}

.projects{
  display: grid;
  grid-template-rows:1fr;
  grid-template-columns: auto auto auto auto;
  grid-gap:20px 5px;
  justify-items:center;
  justify-content:stretch;
}

.projectTiles{
  margin-top: 5em;
  height: 250px;
  width: 160px;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: 
            #000000 5px 5px 8px,
            #4d4d4d -5px -5px 15px;
}

.tilesHeader{
  position: relative;
  height: 10%;
  width: 99%;
  color: white;
  padding-top: 5px;
}

.tilesBody{
  position: relative;
  height: 50%;
  width: 98%;
}

.tilesTrailer{
  position: relative;
  height: 39%;
  width: 99%;
  color: white;
}

.projDescription{
  margin-left: 7px;
}

.projDescription a{
  color:white;
}

.projTitle{
  font-weight: bolder;
  text-align: center;
  margin: 0;
}

.projectTiles:hover{
  box-shadow: 
            inset #000000 5px 5px 8px,
            inset #4d4d4d -5px -5px 15px;
  cursor: pointer;
}

.tilesBody{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.projImage img{
  font-size: 20px;
  font-weight: bolder;
  margin-top: 5px;
  margin-left: 3px;
  text-align: center;
  height: 125px;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.7);
}



@media only screen and (max-width: 500px){
  .projects{
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  }

  .projDescription{
    font-size: 15px;
  }

	#projectPage{
		height:100%;
	}

  .projImage img{
    max-width: 100%;
    max-height: 100%;
  }
}
